<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bill</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/logo.png'%}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css'%}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
     
        <h1>Kimall</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'home'%}" class="active">Home</a></li>
          
          <li><a class="get-a-quote" href="{% url 'signout'%}">LogOut</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
        <div class="container position-relative">
            <section class="h-100 gradient-form" style="background-color: #eee;">
				{% include 'home.html' %}
				<div class="container py-5 h-100">
				  <div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col">
					  <div class="card card-registration my-4">
						<div class="row g-0">
						  <div class="col-xl-6 d-none d-xl-block">
							<img src="{% static 'assets/img/signupimage.webp'%}"
							  alt="Sample photo" class="img-fluid"
							  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
						  </div>
						  <div class="col-xl-6">
							<div class="card-body p-md-5 text-black">
							  <h3 class="mb-5 text-uppercase">Sign Up</h3>
			  
							  
			   <form method="post"  action="\register">
				{% csrf_token %}
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" placeholder="Name" name='name'>
				  </div>
				  <div class="form-group">
					<label for="name">UserName</label>
					<input type="text" class="form-control" id="username" placeholder="Name" name='username'>
				  </div>
				<div class="form-group">
					<div class="form-group">
						<label for="name">Phone Number</label>
						<input type="num" class="form-control" id="number" placeholder="Eg: 9120001478" name='number'>
					  </div>
					<div class="form-group">
				  <label for="exampleInputEmail1">Email address</label>
				  <input type="Email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name='email'>
				  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>
				<div class="form-group">
				  <label for="exampleInputPassword1">Password</label>
				  <input type="password" class="form-control" id="password" placeholder="Password" name='password'>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Confirm Password</label>
					<input type="password" class="form-control" id="password2" placeholder="Confirm Password" name='password2'>
				  </div>
				{% comment %} <button type="submit" class="btn btn-primary">Submit</button> {% endcomment %}
			  
							  <div class="d-flex justify-content-end pt-3">
								{% comment %} <button type="button" class="btn btn-warning btn-lg ms-2" href="\login">Submit form</button> {% endcomment %}
								<button type="submit" class="btn btn-warning btn-lg ms-2">Submit</button>
							  </div>
							</form>
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
            </section> 
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a  href="{% url 'home'%}" class="logo d-flex align-items-center">
            <span>Kimall</span>
          </a>
          <p>Kimall offers the best Deluxe,Luxury,low cost and budget shoe purchases services.We offer type of various shoes.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Shoe purchase</a></li>
            <li><a href="#">Shoe </a></li>
           
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
          
            Muranga county<br>
           
            <strong>Phone:</strong> 0713933110<br>
       
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Kimall</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://Linda2@gmail.com.com/">Linda Gatwiri</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js '%}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js '%}"></script>

</body>

</html>